<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

    <div class="idea">
        <div class="idea-cima">
            <h1>ID/EA</h1>
            <img src="https://cdn-icons-png.flaticon.com/512/3625/3625060.png" alt="idea">

        </div>
        <h2>Intelligence Data & Execution Analysis</h2>
    </div>

    <div class="login-container">
        <h1>Login</h1>

        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}

        <form method="POST" action="{{ url_for('login') }}">
            <label for="username">Usuário:</label><br>
            <input type="text" id="username" name="username"><br><br>

            <label for="password">Senha:</label><br>
            <div style="position: relative;">
                <input type="password" id="password" name="password">
                <button type="button" class="olho" onclick="letras_visiveis()">
                    <i id="olho-icone" class="fas fa-eye"></i>
                </button>
            </div>
            <br><br>

            <input type="submit" value="Entrar">
        </form>

        <p class="criar_conta">Não tem uma conta? <a href="{{ url_for('criar_usuario') }}">Crie uma aqui</a>.</p>
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>
</html>
